@import "reset";

$Red: hsl(0, 78%, 62%);
$Cyan: hsl(180, 62%, 55%);
$Orange: hsl(34, 97%, 64%);
$Blue: hsl(212, 86%, 64%);
$Very_Dark_Blue: hsl(234, 12%, 34%);
$Grayish_Blue: hsl(229, 6%, 66%);
$Very_Light_Gray: hsl(0, 0%, 98%);

html {
    font-family: 'Poppins', sans-serif;
    color: $Very_Dark_Blue;
    text-align: center;
}

body {
    padding: 5rem 2rem;
    font-size: 1rem;
    background-color: $Very_Light_Gray;
}

.title {
    font-weight: 200;
}

.bold-title-text {
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
}

.heading-text, .card-text {
    color: $Grayish_Blue;
}

.cards-section {
    margin-top: 4rem;
}

.card {
    background-color: white;
    text-align: left;
    margin: 1.5rem 0;
    padding: 1.5rem 1.5rem 1.5rem 2rem;
    border-radius: 5px;
    box-shadow: hsl(233, 10%, 84%) 0px 5px 15px;
}

.supervisor {
    border-top: 4px solid $Cyan;
}

.team-builder {
    border-top: 4px solid $Red;
}

.karma {
    border-top: 4px solid $Orange;
}

.calculator {
    border-top: 4px solid $Blue;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
}

.card-text {
    font-size: 0.8rem;
    line-height: 1.7;
    margin-bottom: 2rem;
}

.card-icon {
    width: 22%;
    display: -webkit-box;
    margin-left: auto;
}

.attribution {
    font-size: 11px; text-align: center;

}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 62.5rem) { //1000px 
    body {
        padding: 7rem 10rem;
    }
    .heading-section {
        padding: 0 20rem;
    }
    .title {
        font-size: 2.2rem;
    }
    .card {
        margin: 0;
    }
    .cards-section {
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr;
        gap: 2rem;
    }
    .supervisor {
        grid-row: 2 / 4;
    }
    .team-builder {
        grid-area: 1 / 2 / 3 / 3;
    }
    .karma {
        grid-area: 3 / 2 / 5 / 3;
    }
    .calculator {
        grid-area: 2 / 3 / 4 / 4;
    }
}